<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta property="og:title" content="Netflix Betmar" />
    <meta property="og:url" content="http://uriell77.pythonanywhere.com/" />
    <meta property="og:image" itemprop="image" content="{{ url_for('static', filename='img/betmarlogo.jpeg')}}">
    <meta property="og:description" content="Pagina de Netflix Betmar recargas moviles" />
    <meta property="og:type" content="Negocio" />


    <link rel="icon" href="{{ url_for('static', filename='img/betmarlogo.jpeg')}}">
    <link href="{{ url_for('static', filename='css/css/bulma.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/css/ped.css')}}" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <title>{% block title %}Netflix Betmar {% endblock %}</title>
</head>

<body class="has-background-grey-light" height="100%" style="padding:2px">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
				<img src="{{ url_for('static', filename='img/favicon.ico')}}" style="height:4rem"></img>
           <div style="padding-top:10px">
		<a class="title" href="" style="color:red"><font face="Pattaya" size="16"><b>Netflix Betmar</b></font></a></div>
			
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{url_for('hello')}}">
												Home
										</a>

                <a class="navbar-item" href="{{url_for('doc')}}">
												Documentation
										</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{{ url_for('reg') }}">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="{{ url_for('log') }}">
																Log in
														</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <article class="message is-secondary">
        {% for message in messages %}
        <div class="massage-body">
            <div id="bienvenida">{{ message }} que mierc</div>
        </div>
        {% endfor %}
    </article>
    {% endif %} {% endwith %} {% block content %} {%endblock%}

    <script src="{{ url_for('static', filename='js/java.js' )}}"></script>

<div style="height:30px"></div>
<footer class="footer has-background-dark has-text-light">
  <div class="content has-text-centered">
    <p>
      <strong class="has-text-light">Netflix Betmar</strong> by <a href="https://jgthms.com">GP System Media & Games</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">copyright 2020</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
</body>

</html>
