<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="icon" href="{{ url_for('static', filename='img/betmarlogo.jpeg')}}" type="image/jpeg">
    <link href="{{ url_for('static', filename='css/css/bulma.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/css/ped.css')}}" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
    <title>{% block title %}Netflix Betmar {% endblock %}</title>
</head>

<body class="has-background-grey-light text-center" style="padding:3px; height:100%">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

									<a>
				<img src="{{ url_for('static', filename='img/favicon.ico')}}" style="height:4rem; border-radius:20px"></img>
				</a>
				<a style="color:red; padding-top:5px"><font style="font-family:Pattaya;" size="20">Netflix Betmar</font></a>
	            
<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">

                {% if paneldic == 1 or paneldic == 2 %} {% set panel = 'layad' %} {% else %} {% set panel = 'dash' %} {% endif %}

                <a class="navbar-item" href="{{url_for(panel, user=user)}}">
						Panel de Control
										</a>
                <a class="navbar-item" href="{{url_for('rec', user=user)}}">
												Recargas
										</a>

 <a class="navbar-item" href="{{url_for('cuent', user=user)}}">
												Cuentas
										</a>


            </div>
            <div class="navbar-end">
					<div class="navbar-item">Divisa: {{divisa}}</div>
					<div class="navbar-item">Saldo: {{saldo}}</div>
                <div class="navbar-item">
                    <!-- boton desplegable-->
                    <div class="dropdown is-left" id="desplegable">
                        <div class="dropdown-trigger">
                            <button class="button" style="width:12rem" aria-haspopup="true" aria-controls="dropdown-menu">
																		<span>{{ user }}</span>
																		<span class="icon is-small">
																				<i class="fas fa-angle-down" aria-hidden="true"></i>
																		</span>
																</button>
                        </div>
                        <div class="dropdown-menu is-hoverable" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a href="#" class="dropdown-item">
																				Dashboard
																		</a> i <a class="dropdown-item">
																				Operaciones
																		</a>
                                <a href="#" class="dropdown-item">
																				Recargas
																		</a>
                                <a href="#" class="dropdown-item">
																				historial
																		</a>
                                <hr class="dropdown-divider">
                                <a href="{{url_for('logout')}}" class="dropdown-item" id="logout">
																				Salir
																		</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %} {% if messages %}

    <article class="notification is-link" style="position:absolute; display:block" , id="notification">
        <!--<div class="notification-body">-->
        {% for message in messages %}
        <strong><div id="bienvenida" class="tittle">{{ message }} {{user}}</div></strong> {% endfor %}
        <!--</div>-->
    </article>
    {% endif %} 
	{% endwith %}


	
	{% block content %} 
	{%endblock%}


    <script src="{{ url_for('static', filename='js/java.js' )}}"></script>

	<script>
			borrado();
	</script>


	<div style="height:30px"></div>
	<footer class="footer has-background-dark has-text-light">
  <div class="content has-text-centered">
    <p>
      <strong class="has-text-light">Netflix Betmar</strong> by <a href="https://jgthms.com">GP System Media & Games</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">copyright 2020</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
</body>

</html>
