{% block lista %}

<div id="todos">
{%for i in plantilla[1:]%}
<div class="card has-background-dark has-text-light" id='{{ i[1]}}'>
		<div class="card-header has-background-link">
				&nbsp{{i[1]}}&nbsp&nbsp&nbspSaldo: {{i[6]}}
		</div>
		<div class="card-content">
				Email: {{i[2]}}<br>Conexion: {{i[4]}}<br>Estatus: {{i[5]}}
		</div>
</div><br>
{%endfor%}
</div>


<script src="{{ url_for('static', filename='js/java.js' )}}"></script>

<script>
		//setInterval('conectado()', 5000);
		//setInterval("loadDoc('todos', http://uriell77.pythonanywhere.com/api/datos/?datos=todo)",5000);
		//setInterval("loadDoccont('tags', 'http://uriell77.pythonanywhere.com/api/datos/?datos=cuenta')",6000);
		//setInterval("loadDoc('todos', 'http://localhost:5000/api/datos/?datos=todo')",5000);
		//setInterval("loadDoccont('tags', 'http://localhost:5000/api/datos/?datos=cuenta')",5000);
setInterval("todos()", 1000);
</script>
{% endblock %}
